/*=================================*/
/* Nivo Slider Demo
/* November 2010
/* By: Gilbert Pellegrom
/* http://dev7studios.com
/*=================================*/

/*====================*/
/*=== Reset Styles ===*/
/*====================*/
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
body {
	line-height:1;
	color:black;
	background:white;
}
table {
	border-collapse:separate;
	border-spacing:0;
}
caption, th, td {
	text-align:left;
	font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/*===================*/
/*=== Main Styles ===*/
/*===================*/
/*body {
	font:14px/1.6 Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	color:#333;
	background:#eee;
}

a, a:visited {
	color:blue;
	text-decoration:none;
}
a:hover, a:active {
	color:#000;
	text-decoration:none;
}

#dev7link {
    position:absolute;
    top:0;
    left:50px;
    background:url(images/dev7logo.png) no-repeat;
    width:60px;
    height:67px;
    border:0;
    display:block;
    text-indent:-9999px;
}

.slider-wrapper { 
	width: 80%; 
	margin: 100px auto;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
/*.clear {
	clear:both;
}*/

:root {

    --page-gap: 1%;
    --section-gap: 20px;

    --primary-font: 'Cormorant Unicase', serif;
    --secondary-font-family: 'Cormorant Unicase', serif;
    --extra-font-family: 'Lora', serif;
    --cursive-font-family: 'Alex Brush', cursive;

    --main-color: #D28A55;
    --secondary-color: #152f4c;
    --third-color: #727475;
    --fourth-color: #a4a4a4;
    --fifth-color: #fbfbfb;
    --dark-color: #303030;

    --body-font-color: #152f4c;
    --body-font-size: 16px;
    --body-line-height: 2em;

    --nav-bg-color: #152f4c;
    --nav-top-border-color: #d8a077;
    --nav-top-border-width: 5px;
    --nav-bottom-border-color: #d8a077;
    --nav-bottom-border-width: 5px;
    --nav-font-color: #fff;
    --nav-font-hover-color: #d8a077;
}

/*============== 1. General ==============*/

body {
    padding: var(--page-gap);
    max-width: 100% !important;
    overflow-x: hidden !important;
}

html {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.mw-section {
    margin-top: var(--section-gap);
}

.padding-2 {
    padding: 2%;
}

.padding-5 {
    padding: 5%;
}

.padding-10 {
    padding: 10%;
}

.no-padding-column {
    padding: 0px;
}

.m-auto {
    margin: auto;
}

.m-bottom {
    margin-bottom: 32px;
}

.m-top {
    margin-top: 32px;
}

.js-hero-slider .js-hero-slide.align-items-center-v {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.js-hero-slider .js-hero-slide.align-items-top {
    -ms-flex-align: flex-star !important;
    align-items: flex-start !important;
}

.js-hero-slider .js-hero-slide.align-items-bottom {
    -ms-flex-align: flex-end !important;
    align-items: flex-end !important;
}

.js-hero-slider .js-hero-slide.align-items-center-h {
    justify-content: center !important;
    text-align: center !important;
}

.js-hero-slider .js-hero-slide.align-items-right {
    justify-content: flex-end !important;
    text-align: right !important;
}

.js-hero-slider .js-hero-slide.align-items-left {
    justify-content: flex-start !important;
    text-align: left !important;
}
